[2020-01-08 07:10] ronaldtse commented on #2
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Include both part 2 and part 3.

[2020-01-08 07:10] ronaldtse commented on #10
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* It’s a difficult question. Leave for later discussion.

[2020-01-08 07:10] ronaldtse commented on #11
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Add a point for historical systems in A.3.
* The RA will be responsible for determining which systems qualify.

[2020-01-08 07:11] ronaldtse commented on #12
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Add reference.

[2020-01-08 07:11] ronaldtse commented on #13
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Add reference.

[2020-01-08 07:12] ronaldtse commented on #15
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* The link to the resource is broken, but since ISO 639 says it’s OK to refer to web archive, this is what will be done.

[2020-01-08 07:12] ronaldtse commented on #17
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* No good solution at the moment.

[2020-01-08 07:12] ronaldtse commented on #19
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* All issues can be resolved.

(We need details here to fix the systems)

[2020-01-08 07:13] ronaldtse commented on #21
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* If not controversial, will just encode them. Ask Annie Wolfe and Bill Leonard for help.

[2020-01-08 07:13] ronaldtse commented on #22
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Split into 9 different codes for the different languages.

[2020-01-08 07:13] ronaldtse commented on #23
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Use `aliasOf` to indicate that one system code is an alias of another system code.
* Probably a good idea to have metadata for other relations as well, e.g. `supercedes`, `relatedTo` /
`basedOn` / `adoptedFrom`.

[2020-01-08 07:14] ronaldtse commented on #24
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Mark in notes where total conversions occur.
* Check the introductory texts from PCGN/BGN and UNGEGN on the use of year number. Deal with it case by case, and put references where appropriate.

[2020-01-08 07:14] ronaldtse commented on #25
ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* These are in the BAC list.
* Extend to the country code. Guidelines needed for criteria for naming abbreviations. Upper-case could be used for country code as a convention, but don’t exclude the possibility of all lower- case usage.
* Experiment with the idea of using the country code for the first authority from that country, then if multiple au

[2020-01-08 07:48] ronaldtse commented on #22
Done.

[2020-01-10 00:36] ronaldtse commented on #28
Implemented.

[2020-01-10 01:36] ronaldtse commented on #16
We're going to take approach 1 as discussed in the kickoff meeting.

There are two systems that are not yet "expanded" into the languages they cover:
* `alalc-Cyrl-Latn-2017`: ALA-LC Romanization Table -- Non-Slavic Languages (in Cyrillic Script) (2017)
* `icao-9303-2015`: ICAO Machine-Readable Travel Documents: Transliterations Recommended for use by States

[2020-01-10 01:39] ronaldtse commented on #17
We're going to treat the last part of the system code as simply the "system identifier". This is an arbitrary identification string, such as:
* ISO/DIN: `{iso/din}-{...}-{docid-and-part}`
* UN: `un-{...}-{version}`
* ALA-LC: both `alalc-jav-java-latn-1997` `alalc-jav-arab-latn-jp-2012` represent different systems, so the latter one has system identifier as `jp-2012`.

Completed and closing.

[2020-01-10 01:41] ronaldtse commented on #19
I think the issues are fixed now, please file a new issue if any script codes are inaccurate.

[2020-01-10 01:41] ronaldtse commented on #12
This transition is complete. It does work better, let's adopt this.

[2020-01-10 01:42] ronaldtse commented on #2
We have parameterized the language code to have a qualifier, so other ISO 639 parts are also supported. Closing.

[2020-01-11 09:00] ronaldtse commented on #16
We are now using the `iso-639-3` reserved code of `mul` to indicate that a system works with multiple languages. We have normalized all codes to multiple individual languages as possible, except for the three systems (ALA-LA Non-Slavic, ICAO MRTD and ISO 9) where they still have `mul`.

[2020-01-13 02:05] ronaldtse commented on #23
Implemented, but not complete for all systems. We will need the authorities to go through their own systems to see which ones are equivalent to which.

[2020-01-13 03:14] ronaldtse commented on #19
@ribose-jeffreylau could you help fix this issue? Perhaps you remembered the details from the call. Thanks.

[2020-01-13 04:19] ronaldtse commented on #32
Let's just use `cnt` because the BGN/PCGN description says:
"This system is based on the Lao Commission Nationale de Toponymie (CNT) system ..."

[2020-01-13 04:20] ronaldtse commented on #32
Thanks for finding this.

[2020-01-13 04:34] ribose-jeffreylau commented on #31
Already removed in b377cf57990be1260c952d679ca0a897e3945a01. Closing.

[2020-06-15 09:51] calconnect-ci opened #1 "Update content as per comments made in TC 46 Ottawa"
In GitLab by @ronaldtse on Jul 4, 2019, 17:30

ping @ribose-jeffreylau

[2020-06-15 09:51] calconnect-ci commented on #1
In GitLab by @ronaldtse on Jul 6, 2019, 11:17

All split into individual tasks. Closing.

[2020-06-15 09:52] #1 closed, assigned to ribose-jeffreylau

[2020-06-15 09:52] calconnect-ci opened #2 "Handle ISO 639-3 language codes"
In GitLab by @ronaldtse on Jul 4, 2019, 17:57

A number of languages are not available in ISO 639-2 but are in ISO 639-3. Those are actually already encoded in the table, except that we didn't update the text to reflect this. This issue is to fix that.

[2020-06-15 09:52] calconnect-ci opened #3 "Handle ISO 639-3 language codes [REPLACEMENT ISSUE]"
The original issue

	Id: 2
	Title: Handle ISO 639-3 language codes

could not be created.
This is a dummy issue, replacing the original one. It contains everything but the original issue description. In case the gitlab repository is still existing, visit the following link to show the original issue:

TODO

[2020-06-15 09:52] calconnect-ci commented on #3
In GitLab by @ronaldtse on Jul 4, 2019, 17:58

Or, parametrize the language code to: `iso-639-2:xx` vs `iso-639-3:xxx` something like that.

[2020-06-15 09:52] calconnect-ci commented on #3
In GitLab by @ronaldtse on Jan 8, 2020, 15:10

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Include both part 2 and part 3.

[2020-06-15 09:52] calconnect-ci commented on #3
In GitLab by @ronaldtse on Jan 10, 2020, 09:42

We have parameterized the language code to have a qualifier, so other ISO 639 parts are also supported. Closing.

[2020-06-15 09:52] #3 closed, assigned to nobody

[2020-06-15 09:52] calconnect-ci opened #4 "For UNGEGN ones, use year number (for year of adoption) instead of version number"
In GitLab by @ronaldtse on Jul 5, 2019, 00:28

For UNGEGN ones at least, use year number (for year of adoption) instead of version number.

UNGEGN Version number means little - they are informational changes and the
main content remains unchanged.

[2020-06-15 09:52] #4 closed, assigned to nobody

[2020-06-15 09:52] calconnect-ci opened #5 "Include `-year_version` (for year of adoption) for all, if available"
In GitLab by @ronaldtse on Jul 5, 2019, 00:29

[2020-06-15 09:52] calconnect-ci commented on #5
In GitLab by @ronaldtse on Jul 6, 2019, 10:53

The unversioned ones are now to be handled in #18.

[2020-06-15 09:52] #5 closed, assigned to nobody

[2020-06-15 09:52] calconnect-ci opened #6 "`bt-dzo-1991` and `-1997` are different"
In GitLab by @ronaldtse on Jul 5, 2019, 00:29

[2020-06-15 09:52] #6 closed, assigned to nobody

[2020-06-15 09:52] calconnect-ci opened #7 "Change UNGEGN to just UN"
In GitLab by @ronaldtse on Jul 5, 2019, 00:30

In Annex C, the columns for "Script conversion system name" and "System
specification" *only*, change "UNGEGN" to just "UN" as these are UN systems,
not UNGEGN systems, to be correct.

[2020-06-15 09:52] #7 closed, assigned to nobody

[2020-06-15 09:53] calconnect-ci opened #8 "`bgn-pcgn-` could be confusing structure-wise."
In GitLab by @ronaldtse on Jul 5, 2019, 00:30

I just asked Trent Palmer of BGN what it should be.

[2020-06-15 09:53] calconnect-ci commented on #8
In GitLab by @ronaldtse on Jul 6, 2019, 10:33

From Trent Palmer of BGN:

[2020-06-15 09:53] #8 closed, assigned to nobody

[2020-06-15 09:53] calconnect-ci opened #9 "For `uzb-2000`: it's "table of correspondence""
In GitLab by @ronaldtse on Jul 5, 2019, 00:30

For `uzb-2000`: it's "table of correspondence" and NOT "table of romanziation
correspondence". They completely switched over to using Latin characters.

[2020-06-15 09:53] #9 closed, assigned to nobody

[2020-06-15 09:53] calconnect-ci opened #10 "For `tuk-2000`: it's "table of correspondence""
In GitLab by @ronaldtse on Jul 5, 2019, 00:31

For `tuk-2000`: it's "table of correspondence" and NOT "table of romanziation correspondence". They completely switched over to using Latin characters.

[2020-06-15 09:53] #10 closed, assigned to nobody

[2020-06-15 09:53] calconnect-ci opened #11 "Maybe more metadata needed"
In GitLab by @ronaldtse on Jul 5, 2019, 00:31

e.g. in Indian, long and short vowel versions. How to distinguish between
them?

[2020-06-15 09:53] calconnect-ci commented on #11
In GitLab by @ronaldtse on Jan 8, 2020, 15:10

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* It’s a difficult question. Leave for later discussion.

[2020-06-15 09:53] calconnect-ci commented on #11
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 11:20

ISO 24229 meeting (2020-01-21)

- Maybe consider one option to be default,
and determine a default for every system.

- But since we don't have full information of options available, need to solicit
information from authorities.
Start from simple task of determining how many systems have options, and how
many options are given in a certain st

[2020-06-15 09:53] calconnect-ci commented on #11
In GitLab by @ronaldtse on Jan 27, 2020, 11:43

Let me start with these:

1. the streamlined Bulgarian transliteration has two systems in one: reversible (with symbols) and non-reversible (no symbols but easier to read).

2. One of the Indian transliteration systems (IS 13934?) distinguishes two systems which one differentiates long / short vowels and one doesn’t.

[2020-06-15 09:53] calconnect-ci opened #12 "Need to define clearly the criteria for accepting systems"
In GitLab by @ronaldtse on Jul 5, 2019, 00:31

e.g. Arabic, the authority is lost. Oriental Societies.

Historical ones need to be accepted.

How to avoid overload of "low-quality" systems?

[2020-06-15 09:53] calconnect-ci commented on #12
In GitLab by @ronaldtse on Jan 8, 2020, 15:10

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Add a point for historical systems in A.3.
* The RA will be responsible for determining which systems qualify.

[2020-06-15 09:53] calconnect-ci commented on #12
In GitLab by @ronaldtse on Jan 13, 2020, 10:00

This is done.

[2020-06-15 09:53] #12 closed, assigned to nobody

[2020-06-15 09:53] calconnect-ci opened #13 "Perhaps make code more descriptive by including source and destination scripts"
In GitLab by @ronaldtse on Jul 5, 2019, 00:32

e.g. `authority-code-src-dest`?

[2020-06-15 09:54] calconnect-ci commented on #13
In GitLab by @ronaldtse on Jul 6, 2019, 10:45

Right now we have `{authoritycode}-{lang}-{edition}`.

The question is should we have `{authoritycode}-{lang}-{srcscript}-{dstscript}-{edition}`?

[2020-06-15 09:54] calconnect-ci commented on #13
In GitLab by @ronaldtse on Jan 8, 2020, 15:11

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Try to sandbox and give examples first to see how it works.

[2020-06-15 09:54] calconnect-ci commented on #13
In GitLab by @ronaldtse on Jan 10, 2020, 09:41

This transition is complete. It does work better, let's adopt this.

[2020-06-15 09:54] #13 closed, assigned to nobody

[2020-06-15 09:54] calconnect-ci opened #14 "Add Unicode transliteration guidelines as reference"
In GitLab by @ronaldtse on Jul 5, 2019, 00:33

Unicode transliteration guidelines: lots of elements common with this list.

Refer to this document.

http://cldr.unicode.org/index/cldr-spec/transliteration-guidelines

Mark Davis is the man behind this.

[2020-06-15 09:54] calconnect-ci commented on #14
In GitLab by @ronaldtse on Jan 8, 2020, 15:11

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Add reference.

[2020-06-15 09:54] calconnect-ci commented on #14
In GitLab by @ronaldtse on Jan 23, 2020, 15:07

closed via commit e0af187e3b1cc9d5e209c94ab2a9d0068fe41193

[2020-06-15 09:54] #14 closed, assigned to nobody

[2020-06-15 09:54] calconnect-ci opened #15 "Registration Authority or Maintenance Agency?"
In GitLab by @ronaldtse on Jul 5, 2019, 00:33

Had questions on whether being a Registration Authority or Maintenance Agency
would be more suitable.

Definitely an RA to avoid red tape.

[2020-06-15 09:54] #15 closed, assigned to nobody

[2020-06-15 09:54] calconnect-ci opened #16 "Add IS 13194"
In GitLab by @ronaldtse on Jul 5, 2019, 00:37

INDIAN SCRIPT CODE FOR INFORMATION INTERCHANGE - ISCII

ISCII-91 or IS13194:1991

https://archive.org/details/gov.in.is.13194.1991/page/n4

BIS 1991
BUREAU OF INDIAN STANDARDS

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 8, 2020, 15:12

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* The link to the resource is broken, but since ISO 639 says it’s OK to refer to web archive, this is what will be done.

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 07:33

IS 13194 gives this for transliteration:

![Screen_Shot_2020-01-22_at_3.32.54_PM](/uploads/ef70d420c57bd6f532ac4803b1838885/Screen_Shot_2020-01-22_at_3.32.54_PM.png)

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 07:34

The standard does not describe how exactly to apply "diacritic marks" in Romanization.

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 07:36

Sorry I jumped the gun... Annex F provides a Romanization table!

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 07:36

![Screen_Shot_2020-01-22_at_3.36.17_PM](/uploads/cd09251b8d9278993da8aaed25b69b36/Screen_Shot_2020-01-22_at_3.36.17_PM.png)

[2020-06-15 09:54] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 09:44

closed via commit c7bd7b811d3f02893d462c2a001bb6b07a12bc2c

[2020-06-15 09:55] calconnect-ci commented on #16
In GitLab by @ronaldtse on Jan 23, 2020, 13:23

These systems are now marked as aliases of `bis-mul-deva-latn-13194-1991`

[code]

(implemented in 072fda10442063f25ca55c2dc3b6f09679c9fe82)

[2020-06-15 09:55] #16 closed, assigned to nobody

[2020-06-15 09:55] calconnect-ci opened #17 "Consider better solution for transcription systems that work on multiple languages"
In GitLab by @ronaldtse on Jul 6, 2019, 10:47

Options:

1. Consider that system as multiple transcription systems. One transcription system works on one language, one source script and one target script.

2. Allow a transcription system to work on multiple languages, multiple source scripts but one target script.

[2020-06-15 09:55] calconnect-ci commented on #17
In GitLab by @ronaldtse on Jan 10, 2020, 09:36

We're going to take approach 1 as discussed in the kickoff meeting.

There are two systems that are not yet "expanded" into the languages they cover:
* `alalc-Cyrl-Latn-2017`: ALA-LC Romanization Table -- Non-Slavic Languages (in Cyrillic Script) (2017)
* `icao-9303-2015`: ICAO Machine-Readable Travel Documents: Transliterations Recommended for use b

[2020-06-15 09:55] calconnect-ci commented on #17
In GitLab by @ronaldtse on Jan 11, 2020, 17:00

We are now using the `iso-639-3` reserved code of `mul` to indicate that a system works with multiple languages. We have normalized all codes to multiple individual languages as possible, except for the three systems (ALA-LA Non-Slavic, ICAO MRTD and ISO 9) where they still have `mul`.

[2020-06-15 09:55] calconnect-ci commented on #17
In GitLab by @ronaldtse on Jan 22, 2020, 14:10

2020/01/20 meeting: agreed to use `mul` to represent these systems. Need to extend document to describe when to use `mul`.

[2020-06-15 09:55] calconnect-ci commented on #17
In GitLab by @ronaldtse on Jan 23, 2020, 14:25

closed via commit faeca09291d373a895b4a9bed4adb87558bc0467

[2020-06-15 09:55] #17 closed, assigned to nobody

[2020-06-15 09:55] calconnect-ci opened #18 "Consider better solution for part numbers and revs"
In GitLab by @ronaldtse on Jul 6, 2019, 10:50

For example, we have these:

Revisions:

[code]

Part numbers:

[code]

Version numbers:

[code]

We need a proper solution to accommodate all these.

[2020-06-15 09:55] calconnect-ci commented on #18
In GitLab by @ronaldtse on Jan 8, 2020, 15:12

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* No good solution at the moment.

[2020-06-15 09:55] calconnect-ci commented on #18
In GitLab by @ronaldtse on Jan 10, 2020, 09:39

We're going to treat the last part of the system code as simply the "system identifier". This is an arbitrary identification string, such as:
* ISO/DIN: `{iso/din}-{...}-{docid-and-part}`
* UN: `un-{...}-{version}`
* ALA-LC: both `alalc-jav-java-latn-1997` `alalc-jav-arab-latn-jp-2012` represent different systems, so the latter one has system identif

[2020-06-15 09:55] #18 closed, assigned to nobody

[2020-06-15 09:55] calconnect-ci opened #19 "Consider transcription systems that do not have an edition year"
In GitLab by @ronaldtse on Jul 6, 2019, 10:53

For systems like these, we still need to assign a versioning for them.

[code]

[code]

[2020-06-15 09:55] calconnect-ci commented on #19
In GitLab by @ronaldtse on Jul 6, 2019, 15:00

Superseded by #24

[2020-06-15 09:55] #19 closed, assigned to nobody

[2020-06-15 09:55] calconnect-ci opened #20 "Missing script codes in ISO 15924"
In GitLab by @ronaldtse on Jul 6, 2019, 11:08

* Shan has no corresponding script code in ISO 15924, closest is Mymr.
* Dzongkha: Script used is Uchen, a form of Tibt.

Need to get these registered at ISO 15924.

[2020-06-15 09:56] calconnect-ci commented on #20
In GitLab by @ronaldtse on Jul 6, 2019, 14:48

alalc-mnc-2012, Manchu script is not represented in ISO 15924

[2020-06-15 09:56] calconnect-ci commented on #20
In GitLab by @ronaldtse on Jul 6, 2019, 14:49

alalc-xal-2012: xal refers to Kalmyak; Oirat, need verification

[2020-06-15 09:56] calconnect-ci commented on #20
In GitLab by @ronaldtse on Jan 8, 2020, 15:12

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* All issues can be resolved.

(We need details here to fix the systems)

[2020-06-15 09:56] calconnect-ci commented on #20
In GitLab by @ronaldtse on Jan 13, 2020, 11:14

@ribose-jeffreylau could you help fix this issue? Perhaps you remembered the details from the call. Thanks.

[2020-06-15 09:56] calconnect-ci commented on #20
In GitLab by @ronaldtse on Jan 10, 2020, 09:41

I think the issues are fixed now, please file a new issue if any script codes are inaccurate.

[2020-06-15 09:56] #20 closed, assigned to ribose-jeffreylau

[2020-06-15 09:56] calconnect-ci opened #21 "BGN/PCGN "Romanization Table of Correspondences" => "Table of Correspondences""
In GitLab by @ronaldtse on Jul 6, 2019, 11:16

As title. This supersedes #8 and #9.

[2020-06-15 09:56] #21 closed, assigned to nobody

[2020-06-15 09:56] calconnect-ci opened #22 "Fill transcription systems from BAC/LAC"
In GitLab by @ronaldtse on Jul 6, 2019, 12:42

https://www.bac-lac.gc.ca/eng/services/cataloguing-metadata/Pages/inventory-romanization-tools.aspx

(https://www.bac-lac.gc.ca/eng/services/cataloguing-metadata/Documents/040006-14-e.pdf
 was the old version)

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ronaldtse on Jan 8, 2020, 15:13

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* If not controversial, will just encode them. Ask Annie Wolfe and Bill Leonard for help.

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 14:12

changed the description

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 14:14

BAC Annie Wolfe informed us that there will be changes to the table in the near future.

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 17:42

mentioned in commit 4316e4eb6f4d241c783b6173e9f75c500fe92fc9

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ronaldtse on Jan 31, 2020, 17:47

BAC Annie Wolfe confirmed that there has been no changes.

We have opened issues #48 #49 #50 #51 #52 #53 #54 #55 for this.

The remaining systems are to be added:

* Add Amharic: BIULO 2003
* Add Arabic: DMG 1936
* Add Arabic: DIN-31635, 1982
* Add Arabic: I.G.N. System 1973 (also called Variant B of the Amended Beirut System)
* Add Arabic: Lebanon n

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ronaldtse on Jan 31, 2020, 17:48

"Carrier" and "CAS syllabary" also need to be added, but we are unsure of the authorities.

[2020-06-15 09:56] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 17:49

For the record, PD 6505:1982 is a British standard.

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ronaldtse on Jan 31, 2020, 17:52

PD 6505 link: http://www.31doc.com/d-3648297.html

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 21:32

mentioned in commit 20eff34ebeb70cedcedbd5e3bf44617a1ee4eaf9

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 21:32

mentioned in commit 88b9adb0506f71c246c8206cbd80bce7e35b032d

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 1, 2020, 01:47

mentioned in commit 7d3c319fb32701b9881ffdfb6ec5a85905e19d6e

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 16:25

I.G.N. System 1973 is already present.

Question: Is I.G.N. French or Arabic? [Wikipedia](https://en.wikipedia.org/wiki/Institut_g%C3%A9ographique_national) says it's French, the `authority-codes.csv` says it's Arabic.

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 3, 2020, 16:36

IGN System 1973 is a transliteration system for Arabic to Latin. This matters in the entry.

IGN is a French organization, but that doesn’t matter in our list.

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 3, 2020, 16:37

Ah! You’re right. The IGN authority entry is wrong, please help remove “Arabic”. Thanks!

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 16:42

mentioned in commit eb5ce2be7a328e00edd2bd740cc0ece1f2afd36e

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 16:43

Since we already have this:

[code]

How does one differentiate this with the one from the BAC list?

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 18:11

mentioned in commit 5a44fda90bbefb99f036bebd7a0a4f363ef2eb9a

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 18:11

mentioned in commit cb2079bd325e732b5f8fdd82d31654f592729608

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 3, 2020, 18:11

mentioned in commit 54dc7f8c1f1669f1e300e09963b30968353e447e

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 3, 2020, 18:24

This is the one in the BAC list. I think what happened was in 1971 there was a UNGEGN meeting at Beirut regarding Arabic transliteration. There were two resulting systems: Variant A was for English phonology; Variant B was for French phonology.

UNGEGN adopted Variant A (the UN Arabic system 1972). IGN proposed an "Amended Variant B" which is IGN 1973

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 4, 2020, 11:57

mentioned in commit 803518b08f18410dd9bbfb58e3e89f61524003a8

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 4, 2020, 12:49

mentioned in commit 51c054a3bcdd868f7967af0ce17e0ae6b8da1e5b

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 4, 2020, 13:59

mentioned in commit 26c8def46c06b4b1c9bacd2ed24f60f9701cf06a

[2020-06-15 09:57] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 5, 2020, 11:10

@ribose-jeffreylau is this task done? Thanks.

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 7, 2020, 10:31

mentioned in commit c8284356469e714f0f984eb5d6e03c52df3e3284

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 7, 2020, 10:31

"Add Japanese: Nihon-shiki" has been added in c8284356469e714f0f984eb5d6e03c52df3e3284.

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ronaldtse on Feb 7, 2020, 10:33

assigned to @ribose-jeffreylau

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit af13325ec322a6eb5911b22967247c9f43357bf3

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit a254d4117d02f72af5f4ad24fd4f6078a4b907c6

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 2aac8e85de0831e276c04e0a06b7456dcc7df720

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 81362f6a1ef7ff2460ef4e3b2396ea0f63934202

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 9815e685e24aa0e9a9e5ae4c2b56d4c42b5e477e

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit ea3a61e7bfda0ee17f9de7e92d0ebb3db12c677c

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit a3983d4777a5f3df8fc9dadfa66fa2937f1f10d7

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit f636fbdacd61bcaeabe32273f3606c4a1ab40ba5

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit aaac51952e95229419bdc90c1c9d4e1c6da72cb7

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 6a815c2d1775c311ca01f2e7f97e878de15f8e70

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 5df1a3aff3e64772cb5f9d4d1944956332aa938c

[2020-06-15 09:58] calconnect-ci commented on #22
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

closed via commit ff352923dedb89a4e6f2b881aa708378a949b6bb

[2020-06-15 09:58] #22 closed, assigned to ribose-jeffreylau

[2020-06-15 09:59] calconnect-ci opened #23 "Missing codes in ISO 639"
In GitLab by @ronaldtse on Jul 6, 2019, 14:50

`bgnpcgn-af-2007`, Applicable to Nuristani languages but not represented in ISO 639

[2020-06-15 09:59] calconnect-ci commented on #23
In GitLab by @ronaldtse on Jan 8, 2020, 15:48

Done.

[2020-06-15 09:59] calconnect-ci commented on #23
In GitLab by @ronaldtse on Jan 8, 2020, 15:13

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Split into 9 different codes for the different languages.

[2020-06-15 09:59] #23 closed, assigned to nobody

[2020-06-15 09:59] calconnect-ci opened #24 "Consider "links", a number of ALA-LC and BGN/PCGN systems inherit from existing systems"
In GitLab by @ribose-jeffreylau on Jul 6, 2019, 14:50

*Created by: ronaldtse*

Consider "links", a number of ALA-LC and BGN/PCGN systems inherit from existing systems.

[2020-06-15 09:59] calconnect-ci commented on #24
In GitLab by @ronaldtse on Jan 8, 2020, 15:13

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Use `aliasOf` to indicate that one system code is an alias of another system code.
* Probably a good idea to have metadata for other relations as well, e.g. `supercedes`, `relatedTo` /
`basedOn` / `adoptedFrom`.

[2020-06-15 09:59] calconnect-ci commented on #24
In GitLab by @ronaldtse on Jan 13, 2020, 10:05

Implemented, but not complete for all systems. We will need the authorities to go through their own systems to see which ones are equivalent to which.

[2020-06-15 09:59] calconnect-ci commented on #24
In GitLab by @ronaldtse on Jan 23, 2020, 13:42

mentioned in commit e7b47a8453ac8072c7523dd4c9a98b7e6f57e98d

[2020-06-15 09:59] #24 closed, assigned to nobody

[2020-06-15 09:59] calconnect-ci opened #25 "Determine dates for a number of governmental systems"
In GitLab by @ronaldtse on Jul 6, 2019, 14:52

* `mk-mkd-yyyy`, Republic of North Macedonia -- Transliteration of Macedonian Cyrillic into Latin
* `np-nep-yyyy`, Government of Nepal -- Transliteration and Translation System for Nepal
* `rs-srp-yyyy`, Republic of Serbia -- Serbian Latin alphabet
* `sac-py-1958`, Romanization system for the Chinese phonetic alphabet

[2020-06-15 09:59] calconnect-ci commented on #25
In GitLab by @ronaldtse on Jul 8, 2019, 10:45

Nepali: from Mr. Suresh Man Shrestha, Former Deputy Director General, Topographical Survey and Land Use Management Division, Survey Department, Nepal:

So np-nep-yyyy is 1997.

We may also rename "np" as "sdn" (for "Survey Department of Nepal"), "Survey Department, Ministry of Land Management, Cooperatives and Poverty Alleviation, Government of Nepal"

[2020-06-15 09:59] calconnect-ci commented on #25
In GitLab by @ronaldtse on Jan 8, 2020, 15:14

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* Mark in notes where total conversions occur.
* Check the introductory texts from PCGN/BGN and UNGEGN on the use of year number. Deal with it case by case, and put references where appropriate.

[2020-06-15 09:59] calconnect-ci commented on #25
In GitLab by @ronaldtse on Jan 22, 2020, 14:09

2020/01/20 meeting: rs-srp uses 1954 (Novi Sad Agreement). mk-mkd assigned reference "_A Grammar of the Macedonian Literary Language (Skopje)_, Lunt, H. G., 1952." with year 1952.

Fixed in 62e29e16bfdde45f6e44f976e0dfbd6dee49be02 and 87817d25edd68edce2a816ffdf1b65e5aa9b5360.

[2020-06-15 09:59] calconnect-ci commented on #25
In GitLab by @ronaldtse on Jan 22, 2020, 14:09

closed

[2020-06-15 09:59] #25 closed, assigned to nobody

[2020-06-15 09:59] calconnect-ci opened #26 "Add Canadian Aboriginal Syllabics"
In GitLab by @ronaldtse on Jul 6, 2019, 17:25

Blackfoot (Pikanii)
* Blackfoot syllabary http://www.omniglot.com/writing/blackfoot.htm

Carrier (Dakelh
* Carrier syllabary (Déné syllabics) http://www.omniglot.com/writing/carrier.htm

Cree (Nehiyaw)
* Cree syllabary http://www.omniglot.com/writing/cree.htm

Naskapi
* CAS syllabary http://www.omniglot.com/writing/ucas.htm

Ojibwe (Anishinaabe, Ojibw

[2020-06-15 09:59] calconnect-ci commented on #26
In GitLab by @ribose-jeffreylau on Nov 4, 2019, 11:31

http://www.omniglot.com/writing/ojibwa.htm is broken.  Try http://www.omniglot.com/writing/ojibwe.htm

[2020-06-15 10:00] calconnect-ci commented on #26
In GitLab by @ronaldtse on Jan 8, 2020, 15:14

ISO 24229 Kick off - Meeting Minutes (2019/11/04)
* These are in the BAC list.

[2020-06-15 10:00] calconnect-ci commented on #26
In GitLab by @ronaldtse on Feb 7, 2020, 10:33

assigned to @ribose-jeffreylau

[2020-06-15 10:00] calconnect-ci commented on #26
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 07:04

Question: What should the ISO 639 codes be?

[2020-06-15 10:00] calconnect-ci commented on #26
In GitLab by @ronaldtse on Feb 9, 2020, 08:46

* Cree: `iso-639-2` : `cre`
* Carrier: `iso-639-3` : `crx`
* Naskapi: `iso-639-3` : `ask`
* Ojibwa: `iso-639-2` : `oji`
* Slavey (also Dene K'e in ISO): `iso-639-2` : `den`
* Blackfoot (called Siksika in ISO): `iso-639-2` : `bla`

[2020-06-15 10:00] calconnect-ci commented on #26
In GitLab by @ribose-jeffreylau on Feb 11, 2020, 03:30

closed via commit b8c6cff8578ad42ef2a024a7f4a4f8f496ddf9b3

[2020-06-15 10:00] #26 closed, assigned to ribose-jeffreylau

[2020-06-15 10:00] calconnect-ci opened #27 "[PLACEHOLDER ISSUE] - for issue #26"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2020-06-15 10:00] #27 closed, assigned to nobody

[2020-06-15 10:00] calconnect-ci opened #28 "[PLACEHOLDER ISSUE] - for issue #27"
This is to ensure the issue numbers in GitLab and GitHub are the same

[2020-06-15 10:00] #28 closed, assigned to nobody

[2020-06-15 10:00] calconnect-ci opened #29 "Add GeoNames gazetteer transliteration list from OGC 11-122r1"
In GitLab by @ronaldtse on Jan 8, 2020, 10:38

List provided at https://github.com/riboseinc/interoperable-transliteration/issues/43

[2020-06-15 10:00] calconnect-ci commented on #29
In GitLab by @ronaldtse on Jan 10, 2020, 08:36

Implemented.

[2020-06-15 10:00] #29 closed, assigned to ronaldtse

[2020-06-15 10:00] calconnect-ci opened #30 "Define codes for academic systems"
In GitLab by @ronaldtse on Jan 11, 2020, 13:01

Some script conversion systems grew out of academic practice and does not necessarily have an authority. Currently they are listed under the `historic` authority, but maybe there should be a proper resolution.

They are:

* `historic-ara-arab-latn-2002`: Arabic Tim Buckwalter System (2002)
* `historic-kur-arab-latn-1931`: Kurdish J.C. Edmonds Romaniz

[2020-06-15 10:00] calconnect-ci commented on #30
In GitLab by @ronaldtse on Jan 22, 2020, 14:07

2020/01/21 meeting: Use “var” and “Various systems managed by ISO 24229/AG” authority for miscellaneous systems.

[2020-06-15 10:00] calconnect-ci commented on #30
In GitLab by @ronaldtse on Jan 22, 2020, 14:07

closed via commit 906e9da3757fb90ef4a334783c5f78d4065586c6

[2020-06-15 10:01] #30 closed, assigned to nobody

[2020-06-15 10:01] calconnect-ci opened #31 "Each SCS Authority should indicate which of their systems inherit from which"
In GitLab by @ronaldtse on Jan 13, 2020, 10:05

Each SCS Authority should indicate which of their systems inherit from.

In https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/issues/23 we implemented relationships.

Some systems that “adopt” an underlying system can now be represented as such.

A number of ALA-LC, BGN/PCGN and UN systems are adoptions and should have its under

[2020-06-15 10:01] calconnect-ci commented on #31
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 14:00

changed the description

[2020-06-15 10:01] calconnect-ci opened #32 "In the document, delete 'Republic of' in front of 'Turkmenistan'"
In GitLab by @ribose-jeffreylau on Jan 13, 2020, 11:43

as titled

[2020-06-15 10:01] calconnect-ci commented on #32
In GitLab by @ribose-jeffreylau on Jan 13, 2020, 12:34

Already removed in b377cf57990be1260c952d679ca0a897e3945a01. Closing.

[2020-06-15 10:01] #32 closed, assigned to nobody

[2020-06-15 10:01] calconnect-ci opened #33 "Question regarding authority codes: `cnt` vs `lcnt`"
In GitLab by @ribose-jeffreylau on Jan 13, 2020, 12:18

`Lao Commission Nationale de Toponymie` is represented twice in `sources/data/authority-codes.csv`, once by `cnt` and once by `lcnt`.

`lcnt` is used in `sources/data/codes.csv` whereas there's no usage of `cnt`.

Question is if `cnt` can be removed from `sources/data/authority-codes.csv` since it looks like a mistake?  Or is there any reason

[2020-06-15 10:01] calconnect-ci commented on #33
In GitLab by @ronaldtse on Jan 13, 2020, 12:20

Thanks for finding this.

[2020-06-15 10:01] calconnect-ci commented on #33
In GitLab by @ronaldtse on Jan 13, 2020, 12:19

Let's just use `cnt` because the BGN/PCGN description says:
"This system is based on the Lao Commission Nationale de Toponymie (CNT) system ..."

[2020-06-15 10:01] #33 closed, assigned to nobody

[2020-06-15 10:01] calconnect-ci opened #34 "Schedule project meeting for January 2020"
In GitLab by @ronaldtse on Jan 13, 2020, 16:09

And a Doodle poll.

[2020-06-15 10:01] calconnect-ci commented on #34
In GitLab by @ronaldtse on Jan 22, 2020, 14:09

Meeting held on 2020/01/20. Closing.

[2020-06-15 10:01] calconnect-ci commented on #34
In GitLab by @ronaldtse on Jan 22, 2020, 14:09

closed

[2020-06-15 10:01] #34 closed, assigned to nobody

[2020-06-15 10:01] calconnect-ci opened #35 "Consider landscape mode for Annex table or display as separate clauses"
In GitLab by @ronaldtse on Jan 15, 2020, 12:18

Due to the changes adopted in the 1st meeting, extra columns have been added to the code tables. This caused the Annex B table to grow in columns making it not fit on a portrait A4.

There are 3 options:
1. Use landscape mode to render the table, which will fit (although not prettily)
2. Convert the table into clauses with a data table each (i.e. eac

[2020-06-15 10:01] calconnect-ci commented on #35
In GitLab by @ronaldtse on Jan 24, 2020, 01:41

2020/01/22 meeting: use 2nd option. Jeffrey will implement.

[2020-06-15 10:01] calconnect-ci commented on #35
In GitLab by @ronaldtse on Jan 24, 2020, 01:41

assigned to @ribose-jeffreylau

[2020-06-15 10:02] calconnect-ci commented on #35
In GitLab by @ronaldtse on Jan 24, 2020, 01:41

unassigned @ronaldtse

[2020-06-15 10:02] calconnect-ci commented on #35
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 01:15

Should be fixed by 857a7f0f51a2cbe55620f1b56b53bb5e29e4eee3.  Closing.

[2020-06-15 10:02] calconnect-ci commented on #35
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 01:15

closed

[2020-06-15 10:02] #35 closed, assigned to ribose-jeffreylau

[2020-06-15 10:02] calconnect-ci opened #36 "Update Chinese Wade-Giles to 1912"
In GitLab by @ronaldtse on Jan 21, 2020, 23:26

https://en.wikipedia.org/wiki/Wade–Giles

[2020-06-15 10:02] calconnect-ci commented on #36
In GitLab by @ronaldtse on Jan 21, 2020, 23:26

Done in 5ccdd03

[2020-06-15 10:02] calconnect-ci commented on #36
In GitLab by @ronaldtse on Jan 21, 2020, 23:26

closed

[2020-06-15 10:02] #36 closed, assigned to ronaldtse

[2020-06-15 10:02] calconnect-ci opened #37 "Update rs-srp-cyrl-latn-1914 to rs-srp-cyrl-latn-1954"
In GitLab by @ronaldtse on Jan 21, 2020, 23:28

Refer to the Novi Sad Agreement (https://en.wikipedia.org/wiki/Novi_Sad_Agreement)

[2020-06-15 10:02] calconnect-ci commented on #37
In GitLab by @ronaldtse on Jan 21, 2020, 23:29

assigned to @ronaldtse

[2020-06-15 10:02] calconnect-ci commented on #37
In GitLab by @ronaldtse on Jan 21, 2020, 23:29

closed via commit 87817d25edd68edce2a816ffdf1b65e5aa9b5360

[2020-06-15 10:02] #37 closed, assigned to ronaldtse

[2020-06-15 10:02] calconnect-ci opened #38 "Determine year of `mk-mkd-cyrl-latn`"
In GitLab by @ronaldtse on Jan 21, 2020, 23:35

According to https://www.jstor.org/stable/30022204?seq=1, the book "https://en.wikipedia.org/wiki/A_Grammar_of_the_Macedonian_Literary_Language" is the grammar book for this transliteration system. Perhaps we can just refer to it.

(The first sentence of the JStor book)
![image](/uploads/af17a70f6d69a2057af8330b8c422c1b/image.png)

[2020-06-15 10:02] calconnect-ci commented on #38
In GitLab by @ronaldtse on Jan 21, 2020, 23:36

changed the description

[2020-06-15 10:02] calconnect-ci commented on #38
In GitLab by @ronaldtse on Jan 21, 2020, 23:37

"Lunt, H. G. (1952) A Grammar of the Macedonian Literary Language (Skopje)"

[2020-06-15 10:02] calconnect-ci commented on #38
In GitLab by @ronaldtse on Jan 22, 2020, 12:49

closed via commit 62e29e16bfdde45f6e44f976e0dfbd6dee49be02

[2020-06-15 10:03] #38 closed, assigned to nobody

[2020-06-15 10:03] calconnect-ci opened #39 "Incorporate suggestions from GOST on Russian transliteration systems"
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 10:36

GOST provided a document detailing amendments to the Russian transliteration systems.
The document shall be incorporated into the draft.

Document: [Добавка_к_WD_1_2_.doc](/uploads/7694cb2c2620cd41b2f4b532da950f17/Добавка_к_WD_1_2_.doc)

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ronaldtse on Jan 23, 2020, 14:04

changed the description

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 02:43

closed via commit 8aa6d87e9244b389882e469efee25ce7515b1986

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ronaldtse on Jan 27, 2020, 13:39

@ribose-jeffreylau can we implement the "replaced by" etc relations with real relations in the Relations column? Thanks!

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ronaldtse on Jan 27, 2020, 13:39

reopened

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 15:50

closed via commit 0300a733d9fdd2f7e3805b55420538d4476d6796

[2020-06-15 10:03] calconnect-ci commented on #39
In GitLab by @ronaldtse on Jan 28, 2020, 00:53

Thank you @ribose-jeffreylau !

[2020-06-15 10:03] #39 closed, assigned to ribose-jeffreylau

[2020-06-15 10:03] calconnect-ci opened #40 "Define "language" in terms and definition (from BAC Hong Cui)"
In GitLab by @ronaldtse on Jan 23, 2020, 13:43

This issue is to add "language" sourced from ISO 639.

[2020-06-15 10:03] calconnect-ci commented on #40
In GitLab by @ronaldtse on Jan 23, 2020, 13:53

closed via commit 9df61aeee52755ab6d3423aa09372c210152d686

[2020-06-15 10:03] #40 closed, assigned to ronaldtse

[2020-06-15 10:03] calconnect-ci opened #41 "Fix year formats in Annex"
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 13:48

Year formats in Annex are not consistent.

(Reported by BAC Hong Cui)

[2020-06-15 10:03] calconnect-ci commented on #41
In GitLab by @ribose-jeffreylau on Jan 23, 2020, 13:49

changed the description

[2020-06-15 10:03] calconnect-ci commented on #41
In GitLab by @ronaldtse on Jan 23, 2020, 13:53

closed via commit d93e1d44b9933fa6bc5f07f2d75a143ef19150e5

[2020-06-15 10:03] calconnect-ci commented on #41
In GitLab by @ronaldtse on Jan 23, 2020, 13:54

reopened

[2020-06-15 10:04] calconnect-ci commented on #41
In GitLab by @ronaldtse on Jan 23, 2020, 13:54

Oops wrongly closed... sorry @ribose-jeffreylau !

[2020-06-15 10:04] calconnect-ci commented on #41
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 01:53

closed via commit f58e7dae23d077a0e287c599e8c9e9f89c57a9fe

[2020-06-15 10:04] #41 closed, assigned to nobody

[2020-06-15 10:04] calconnect-ci opened #42 "Update terms and definitions order (from BAC Hong Cui)"
In GitLab by @ronaldtse on Jan 23, 2020, 13:51

According to ISO Directives Part 2 the introduction of terms should be in conceptual order.

[2020-06-15 10:04] calconnect-ci commented on #42
In GitLab by @ronaldtse on Jan 23, 2020, 13:55

Closed by d93e1d44b9933fa6bc5f07f2d75a143ef19150e5.

[2020-06-15 10:04] calconnect-ci commented on #42
In GitLab by @ronaldtse on Jan 23, 2020, 13:55

closed

[2020-06-15 10:04] #42 closed, assigned to ronaldtse

[2020-06-15 10:04] calconnect-ci opened #43 "Set Macedonian system date to 1970"
In GitLab by @ronaldtse on Jan 24, 2020, 02:30

From Trent:

We should change the identification code to 1970, and add the updated date information in Remarks.

[2020-06-15 10:04] calconnect-ci commented on #43
In GitLab by @ronaldtse on Feb 7, 2020, 09:34

closed via commit 1c595953a80588060944fb63cda6a097f6aea3d2

[2020-06-15 10:04] calconnect-ci commented on #43
In GitLab by @ronaldtse on Feb 7, 2020, 10:31

mentioned in commit 340d7a5c9baae08cd6ecded57b91a9c4a2c9f5b3

[2020-06-15 10:04] #43 closed, assigned to ronaldtse

[2020-06-15 10:04] calconnect-ci opened #44 "Update name of "Republic of Turkmenistan""
In GitLab by @ronaldtse on Jan 24, 2020, 09:21

ISO 24229 Kick off - Meeting Minutes (2019/11/04)

* In the document, delete 'Republic of' in front of 'Turkmenistan'.

The official name is "Republic of Turkmenistan". Do we want to remove it?

[2020-06-15 10:04] calconnect-ci commented on #44
In GitLab by @ronaldtse on Jan 24, 2020, 09:37

closed via commit 31dd287bcd533d04ba3a4a4dffd2cf45b0b9b329

[2020-06-15 10:04] #44 closed, assigned to nobody

[2020-06-15 10:04] calconnect-ci opened #45 "Experiment with the idea of using the country code for the first authority from that country"
In GitLab by @ronaldtse on Jan 24, 2020, 10:04

ISO 24229 Kick off - Meeting Minutes (2019/11/04)

* Experiment with the idea of using the country code for the first authority from that country, then if multiple authorities compete, accepting an extension code for them. Need to handle cases like ISO, ICAO, etc. Some abbreviations that are not immediately understandable (e.g. mext), indicate the fu

[2020-06-15 10:04] calconnect-ci commented on #45
In GitLab by @ronaldtse on Feb 7, 2020, 09:26

Let's close this in favor of #44.

[2020-06-15 10:04] calconnect-ci commented on #45
In GitLab by @ronaldtse on Feb 7, 2020, 09:26

closed

[2020-06-15 10:05] #45 closed, assigned to nobody

[2020-06-15 10:05] calconnect-ci opened #46 "Extend authority code list to country code and provide criteria"
In GitLab by @ronaldtse on Jan 24, 2020, 10:05

ISO 24229 Kick off - Meeting Minutes (2019/11/04)

* Extend to the country code. Guidelines needed for criteria for naming abbreviations. Upper-case could be used for country code as a convention, but don’t exclude the possibility of all lower- case usage.

[2020-06-15 10:05] calconnect-ci commented on #46
In GitLab by @ronaldtse on Feb 7, 2020, 10:33

assigned to @ribose-jeffreylau

[2020-06-15 10:05] calconnect-ci commented on #46
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 07:03

Probably good for the next milestone.

[2020-06-15 10:05] calconnect-ci commented on #46
In GitLab by @ronaldtse on Feb 9, 2020, 08:40

closed via commit b3a82aa14b6905c9cb92ffe4cf53d18b48751456

[2020-06-15 10:05] calconnect-ci commented on #46
In GitLab by @ribose-jeffreylau on Feb 11, 2020, 11:07

Does commit b3a82aa1 fix this?

[2020-06-15 10:05] calconnect-ci commented on #46
In GitLab by @ronaldtse on Feb 11, 2020, 11:34

I think so.

[2020-06-15 10:05] #46 closed, assigned to ribose-jeffreylau

[2020-06-15 10:05] calconnect-ci opened #47 "GitLab CI Ruby segfaults"
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 02:51

Job [#415314415](https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/jobs/415314415) failed for a2f725c1560b16dbc349b5997b0ae7efe4b82bc7:

GitLab CI Ruby segfaults.

Under macOS 10.14.6, `METANORMA_DOCKER=metanorma/metanorma make` runs successfully, without segfaulting.

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 10:04

## Update

### What works

`METANORMA_DOCKER=metanorma/metanorma:1.2.8.4 make`

### What segfaults

`METANORMA_DOCKER=metanorma/metanorma:1.2.8.5 make`

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 10:26

mentioned in commit 2a850f1086bb4485ccf01e5985d2f555bd8c12af

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ronaldtse on Jan 31, 2020, 12:26

@ribose-jeffreylau can you post an issue on https://github.com/metanorma/metanorma-docker/ ? Thanks.

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ronaldtse on Feb 6, 2020, 14:41

@ribose-jeffreylau I've rebuilt and re-pushed the containers, and they should work. Can you try again? Please reopen if it still occurs. Thanks.

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ronaldtse on Feb 6, 2020, 14:41

closed

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 07:00

Reopening due to this issue: https://github.com/metanorma/metanorma-docker/issues/55

and this pipeline failure: https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/jobs/429857276

[2020-06-15 10:05] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 07:00

reopened

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ronaldtse on Feb 9, 2020, 09:57

@ribose-jeffreylau it's fixed now, can you check?

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Feb 17, 2020, 10:40

mentioned in commit 915591888d7df2add5d205cc0ef2aa0c61ef3024

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Mar 4, 2020, 15:22

mentioned in commit a613b72036190da94a22b0855b3fadbdea57fde4

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 11:50

Segfault is gone, but a new problem arises.  See #69.

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 11:50

closed

[2020-06-15 10:06] calconnect-ci commented on #47
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 11:51

mentioned in commit 3778710c5f8e084a7a667196edb0892152d87d33

[2020-06-15 10:06] #47 closed, assigned to nobody

[2020-06-15 10:06] calconnect-ci opened #48 "Add and use `replacedBy` and `supercedes` relations"
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 15:46

Target: systems with remarks containing "Replaced by", "Accepted instead of"

- `gost-rus-cyrl-latn-16876-71-1983`, `replacedBy:gost-rus-cyrl-latn-7-79-2000`
- `gost-rus-cyrl-latn-7-79-2000`, `supercedes:gost-rus-cyrl-latn-16876-71-1983`

Related: #38

[2020-06-15 10:06] calconnect-ci commented on #48
In GitLab by @ribose-jeffreylau on Jan 27, 2020, 15:50

closed via commit 0300a733d9fdd2f7e3805b55420538d4476d6796

[2020-06-15 10:06] #48 closed, assigned to ribose-jeffreylau

[2020-06-15 10:06] calconnect-ci opened #49 "BAC/LAC Belarussian government system year?"
In GitLab by @ronaldtse on Jan 31, 2020, 16:47

BAC/LAC says 2000.

![Screen_Shot_2020-01-31_at_4.46.51_PM](/uploads/62f96eb84b83db65d54500d3c8df9eb1/Screen_Shot_2020-01-31_at_4.46.51_PM.png)

NGA GNDB says 1998: "bel_Cyrl2Latn_GBO_1998".

Which is the correct year?

[2020-06-15 10:06] calconnect-ci opened #50 "BAC/LAC Tongyong Pinyin year?"
In GitLab by @ronaldtse on Jan 31, 2020, 16:50

BAC/LAC gives Academica Sinica -- Chinese Tongyong Pinyin year as 2000.

![Screen_Shot_2020-01-31_at_4.48.43_PM](/uploads/9d3487beecdf73e5db8b36a8430a5453/Screen_Shot_2020-01-31_at_4.48.43_PM.png)

But the system was adopted for official use in 2002

![Screen_Shot_2020-01-31_at_4.49.34_PM](/uploads/61e19db6e89fea8ee3b8c36a75d1ab90/Screen_Shot_2020-01

[2020-06-15 10:06] calconnect-ci opened #51 "Cree syllabary authority"
In GitLab by @ronaldtse on Jan 31, 2020, 16:56

This one? https://sicc.sk.ca/languages-department/

[2020-06-15 10:06] calconnect-ci commented on #51
In GitLab by @ronaldtse on Jan 31, 2020, 16:57

![Screen_Shot_2020-01-31_at_4.57.12_PM](/uploads/c91fa4ba21114066b2c8b583642d9c2b/Screen_Shot_2020-01-31_at_4.57.12_PM.png)

[2020-06-15 10:06] calconnect-ci commented on #51
In GitLab by @ronaldtse on Jan 31, 2020, 16:57

![Screen_Shot_2020-01-31_at_4.57.31_PM](/uploads/df2cbe16546a12c2f5e521420eea5697/Screen_Shot_2020-01-31_at_4.57.31_PM.png)

[2020-06-15 10:06] calconnect-ci commented on #51
In GitLab by @ronaldtse on Feb 11, 2020, 12:16

Or it could be ITK: https://www.cbc.ca/news/canada/north/itk-inuktitut-new-script-1.5311136 , https://www.itk.ca/amaujaq/unification-writing-system/ .

ITK is also responsible for the Standard Roman Orthography of syllabics mapping to the Qaliujaaqpait writing system (using Roman letters), so it's a kind of Romanization system. Maybe we should add th

[2020-06-15 10:07] calconnect-ci opened #52 "BAC/LAC Maldivian system 1987 or 1988?"
In GitLab by @ronaldtse on Jan 31, 2020, 17:11

BAC says 1987.

![Screen_Shot_2020-01-31_at_5.10.37_PM](/uploads/18be141d4c80bfee4e41ff84e6129d16/Screen_Shot_2020-01-31_at_5.10.37_PM.png)

NGA GNDB says 1988.

Which is correct?

[2020-06-15 10:07] calconnect-ci opened #53 "Add system codes for ISO 15919 per language in BAC list"
In GitLab by @ronaldtse on Jan 31, 2020, 17:42

* Assamese / Bengali
* Bengali / Bengali
* Gujarati / Gujarati
* Hindi / Devanagari
* Kannada / Kannada
* Malayalam / Malayalam
* Marathi / Devanagari
* Nepali / Devanāgarī
* Oriya / Oriya
* Pali / Various including Bengali, Burmese, Devanagari, Sinhalese, Thai
* Sanskrit and Prakrit / Devanagari
* Tamil / Tamil
* Telugu / Telugu

From: https://www.b

[2020-06-15 10:07] calconnect-ci commented on #53
In GitLab by @ronaldtse on Jan 31, 2020, 17:43

changed the description

[2020-06-15 10:07] calconnect-ci commented on #53
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 18:41

closed via commit 7b5f9c55ee2bc570fffec890463dac089d644d88

[2020-06-15 10:07] #53 closed, assigned to nobody

[2020-06-15 10:07] calconnect-ci opened #54 "Add system codes for Hunterian per language in BAC list"
In GitLab by @ronaldtse on Jan 31, 2020, 17:43

* Assamese / Bengali
* Bengali / Bengali
* Hindi / / Devanagari
* Marathi / Devanagari
* Oriya / Oriya
* Panjabi, Punjabi / Gurmukhi
* Tamil / Tamil
* Telugu / Telugu
* Urdu / Perso-Arabic

From: https://www.bac-lac.gc.ca/eng/services/cataloguing-metadata/Pages/inventory-romanization-tools.aspx

[2020-06-15 10:07] calconnect-ci commented on #54
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 21:32

closed via commit 88b9adb0506f71c246c8206cbd80bce7e35b032d

[2020-06-15 10:07] #54 closed, assigned to nobody

[2020-06-15 10:07] calconnect-ci opened #55 "Add system codes for ISO 9 per languages in BAC list"
In GitLab by @ronaldtse on Jan 31, 2020, 17:44

* Azerbaijani / Cyrillic
* Belarusian / Cyrillic
* Bulgarian / Cyrillic
* Macedonian / Cyrillic
* Mongolian / Cyrillic
* Russian / Cyrillic
* Serbian / Cyrillic
* Tajik / Cyrillic
* Ukrainian / Cyrillic

From: https://www.bac-lac.gc.ca/eng/services/cataloguing-metadata/Pages/inventory-romanization-tools.aspx

[2020-06-15 10:07] calconnect-ci commented on #55
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 17:46

Should be fixed by 4316e4eb6f4d241c783b6173e9f75c500fe92fc9.

[2020-06-15 10:07] calconnect-ci commented on #55
In GitLab by @ribose-jeffreylau on Jan 31, 2020, 17:46

closed

[2020-06-15 10:07] #55 closed, assigned to nobody

[2020-06-15 10:07] calconnect-ci opened #56 "Add all BS systems from BAC list"
In GitLab by @ronaldtse on Jan 31, 2020, 17:44

* Arabic / Arabic: BS 4280:1968: Transliteration of Arabic characters
* Chinese / Chinese: BS 7014:1989: Guide to the romanization of Chinese
* Church Slavic Church Slavonic / Cyrillic:  BS 2979:1958 Transliteration of Cyrillic and Greek characters.
* Greek / Greek:  BS 2979:1958 Transliteration of Cyrillic and Greek characters.
* Japanese / Sino-Jap

[2020-06-15 10:07] calconnect-ci commented on #56
In GitLab by @ribose-jeffreylau on Feb 1, 2020, 01:47

closed via commit 7d3c319fb32701b9881ffdfb6ec5a85905e19d6e

[2020-06-15 10:07] #56 closed, assigned to nobody

[2020-06-15 10:07] calconnect-ci opened #57 "Import system codes from https://github.com/riboseinc/interoperable-transliteration/"
In GitLab by @ronaldtse on Jan 31, 2020, 18:00

https://github.com/riboseinc/interoperable-transliteration/ contains a number of implemented systems not currently present here; we should supplement them here.

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ronaldtse on Jan 31, 2020, 18:00

assigned to @ribose-jeffreylau

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 07f39ab1bef94eecb087f63b30b89a8277ca44bd

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit f141b566eb68ff7b3d35ed0474c550eab56936f8

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 1c01751e264e6ae41e1092cc48a7c447352bdf3f

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 9031a0b9f7f9906d7430c3e82d0081cce8da0e3e

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit a8d509b4273dc1b7ec26a1a63311b59ad309b179

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 734f6388f18ad3dbaa480c112f9f9f84a58e285b

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 9efafdeb111154ce8972e669236f44c779fc7667

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit b676a7ca1ab300eaa8f7666e6bc4c75578ba58d1

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 0ec18454e95a7a0a8bde2aee511b10ce3595280d

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit f3fd07dd979a3aa4c3771c644044c9c5b07d275a

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 00041da1b3dcb70a8647bd71dab50669ce40f094

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

closed via commit 20e1862bac0a155b8ceb63eb6a5ab03192046f3c

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit 760c2c9e518b0cfe9787814704b9a56d918eee70

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Feb 9, 2020, 06:43

mentioned in commit cb05bd5b056b494706b0b07b5898762f1509cf55

[2020-06-15 10:08] calconnect-ci commented on #57
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 12:03

mentioned in commit 37ca59394e6ad8746c74c355dbbcb1b8fb770849

[2020-06-15 10:08] #57 closed, assigned to ribose-jeffreylau

[2020-06-15 10:09] calconnect-ci opened #58 "Submit CD draft to WG 3"
In GitLab by @ronaldtse on Jan 31, 2020, 18:05

The document has to be submitted in Word DOCX form to Peeter.

Due to some recent issues in Metanorma-ISO, please post-process the Word file after generation:

1. In the "Warning for WDs and CDs" text, click on "Styles" and change to "Normal". Then change the font size to 13 and bold this text.

![Screen_Shot_2020-01-31_at_6.03.44_PM](/uploads/dec3ae

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ronaldtse on Jan 31, 2020, 18:05

changed the description

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ribose-jeffreylau on Feb 11, 2020, 11:02

Document emailed to WG 3 members.

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ronaldtse on Feb 11, 2020, 11:33

Thank you Jeffrey! Can you help make a "release" like this? https://gitlab.com/calconnect/tc-datetime/csd-calendar-systems/-/releases

I try to use the convention of `v{stage-code}.{substage-code}.{date}` for the tag, and then upload the zipped archive (build it with `make published`) as release notes. Thanks!

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ronaldtse on Feb 11, 2020, 11:34

P.S. The above remedial Word work no longer needs to be done, they've been fixed.

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ronaldtse on Mar 5, 2020, 15:27

@ribose-jeffreylau can you upload the release? Thanks.

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ribose-jeffreylau on Mar 6, 2020, 11:37

Done. https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/tags/v30.00.20200211

[2020-06-15 10:09] calconnect-ci commented on #58
In GitLab by @ribose-jeffreylau on Mar 6, 2020, 11:37

closed

[2020-06-15 10:09] #58 closed, assigned to ribose-jeffreylau

[2020-06-15 10:09] calconnect-ci opened #59 "Do we need icao-*-*-latn-9303?"
In GitLab by @ronaldtse on Feb 9, 2020, 08:52

Now that we're using `mul` to represent multiple languages, do we need to expand these? I'd prefer to revert 760c2c9e518b0cfe9787814704b9a56d918eee70.

[2020-06-15 10:09] calconnect-ci opened #60 "Usage of `aliasOf` and duplicate codes?"
In GitLab by @ronaldtse on Feb 9, 2020, 09:01

@ribose-jeffreylau I noticed we've added a number of codes that mean the same thing:

* `mext-jpn-hrkt-latn-kunrei` when we have `mext-jpn-hrkt-latn-1954`
* `lshk-yue-hani-latn-jyutping` when we have `lshk-yue-hani-latn-1993`

Is this intentional?

This brings out two questions:
1. Do we accept duplicate codes for alias?
2. Do we accept "parent system

[2020-06-15 10:09] calconnect-ci commented on #60
In GitLab by @ronaldtse on Feb 9, 2020, 09:25

Right now my answer to 1 is no, I've removed those from the code list.

[2020-06-15 10:09] calconnect-ci opened #61 "Compare and confirm system names with BGN/PCGN table"
In GitLab by @ronaldtse on Feb 13, 2020, 21:02

https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/693650/INTRODUCTION.pdf

Our naming of the BGN/PCGN systems should probably directly reuse this table such as:
`BGN/PCGN {system-type} {system} ({date})`. The `Originator` field should be specified in the Remarks column or as a typified relationship.

[2020-06-15 10:09] calconnect-ci commented on #61
In GitLab by @ribose-jeffreylau on Mar 4, 2020, 15:22

mentioned in commit 21e9fbf2e109f38fd7cb7338858ccc62a109b638

[2020-06-15 10:09] calconnect-ci commented on #61
In GitLab by @ribose-jeffreylau on Mar 4, 2020, 15:22

closed via commit 6acbb724e5f470f21af24d5147a657d7c8ebdc34

[2020-06-15 10:09] #61 closed, assigned to ribose-jeffreylau

[2020-06-15 10:10] calconnect-ci opened #62 "keep a standard width of the tables so they are uniform"
In GitLab by @ribose-jeffreylau on Feb 20, 2020, 16:22

_comments from Trent Palmer_

[2020-06-15 10:10] calconnect-ci commented on #62
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 13:48

Does this require a change to https://github.com/metanorma/metanorma-iso so that table width can be specified?

For this issue, it may be sufficient to set the table width to 100%.

This can be set across all tables (for CSS selector `table.MsoISOTable`) or only on those with a specific Asciidoc role / class.

[2020-06-15 10:10] calconnect-ci commented on #62
In GitLab by @ronaldtse on Mar 5, 2020, 15:31

Well, I'm not sure if this can be done -- each of these tables are separate and it would be difficult to make them all the same size. Unless, that is, that the actual table width is given as fixed?

Can you post in metanorma-iso?

[2020-06-15 10:10] calconnect-ci commented on #62
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:26

Just a quick report.

There is now PDF output available.  The generated PDF has fixed-width tables.

Problem remains in the generated Word document.

[2020-06-15 10:10] calconnect-ci commented on #62
In GitLab by @ronaldtse on May 13, 2020, 18:32

We don't have much control over Word tables, except for making them into full width?

[2020-06-15 10:10] calconnect-ci commented on #62
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:17

Yes.  Is this the responsibility of the metanorma-iso gem?

[2020-06-15 10:10] calconnect-ci opened #63 "Not all of the text in the “Remarks” field of each Annex C table appear to standardized as to font type and size"
In GitLab by @ribose-jeffreylau on Feb 20, 2020, 16:24

May be intentional in the use case of referencing a system code, but affects readability.

_comments from Trent Palmer_

[2020-06-15 10:10] calconnect-ci opened #64 "There is a possible mistyping of "BGN" as "PGN""
In GitLab by @ribose-jeffreylau on Feb 20, 2020, 16:26

offending line: "PGN/PCGN 1981 System, Ministry of Defence/PCGN"

_comments from Trent Palmer_

Will be fixed by #60

[2020-06-15 10:10] calconnect-ci commented on #64
In GitLab by @ronaldtse on Feb 27, 2020, 19:34

@ribose-jeffreylau is this done?

[2020-06-15 10:10] calconnect-ci commented on #64
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 12:03

closed via commit 37ca59394e6ad8746c74c355dbbcb1b8fb770849

[2020-06-15 10:10] #64 closed, assigned to ribose-jeffreylau

[2020-06-15 10:10] calconnect-ci opened #65 "the "SOURCE" for ‘3.9 code’ only specifies ISO 639-2; however, ISO 639-3 codes are also found in the document"
In GitLab by @ribose-jeffreylau on Feb 20, 2020, 16:43

Perhaps the ‘SOURCE’ for 3.9 and 3.10 are switched?

_comments from Trent Palmer_

[2020-06-15 10:10] calconnect-ci commented on #65
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:12

Fixed by fc5eb5a1

[2020-06-15 10:10] calconnect-ci commented on #65
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:12

closed

[2020-06-15 10:10] #65 closed, assigned to nobody

[2020-06-15 10:10] calconnect-ci opened #66 "new entry in Annex C (Ukrainian national system as a BGN/PCGN Agreement (2019))"
In GitLab by @ribose-jeffreylau on Feb 20, 2020, 16:45

http://geonames.nga.mil/gns/html/romanization.html

_comments from Trent Palmer_

[2020-06-15 10:11] calconnect-ci opened #67 "Ensure all systems from EKI's page is entered"
In GitLab by @ronaldtse on Feb 24, 2020, 22:57

http://www.eki.ee/isotc46wg3/linksscr.htm

NOTE: I have previously asked Peeter about KNAB's systems (EKI's place name database), he advised against encoding them, but I have doubts because data encoding is also a valid use case. Will ask again.

[2020-06-15 10:11] calconnect-ci opened #68 "Add APCBG as authority, add `apcbg-bul-cyrl-latn-1995` system and link adopting systems"
In GitLab by @ronaldtse on Feb 27, 2020, 19:38

APCBG "Antarctic Place-names Commission of Bulgaria" is the first authority that adopted the Streamlined System for Romanization of Bulgarian (Lyubomir's system, can't believe I forgot).

The system has been adopted by:
* Bulgarian Parliament (BGNA in authority code)
* UNGEGN
* BGN/PCGN

These systems should link back and inherit from the APCBG syste

[2020-06-15 10:11] calconnect-ci commented on #68
In GitLab by @ronaldtse on Feb 27, 2020, 21:30

closed via commit b0802788b648b39518e7f4bf7c27184003f3140e

[2020-06-15 10:11] #68 closed, assigned to ronaldtse

[2020-06-15 10:11] calconnect-ci opened #69 "Add Ukranian National system 2010 and BGN Ukranian 2019"
In GitLab by @ronaldtse on Feb 28, 2020, 20:56

As title.

[2020-06-15 10:11] calconnect-ci commented on #69
In GitLab by @ronaldtse on Feb 28, 2020, 21:00

closed via commit 0e62dc50f48b0d34b4dd8af1284cfafe144c1454

[2020-06-15 10:11] #69 closed, assigned to ronaldtse

[2020-06-15 10:11] calconnect-ci opened #70 "Cannot build document - NoMethodError: undefined method `xml_content'"
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 11:42

Job [#458617794](https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/-/jobs/458617794) failed for 21e9fbf2e109f38fd7cb7338858ccc62a109b638:

Blocked by https://github.com/relaton/relaton-cli/issues/73

Related to https://github.com/metanorma/metanorma-standoc/issues/218

Related to #46

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 11:51

mentioned in commit 3778710c5f8e084a7a667196edb0892152d87d33

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ronaldtse on Mar 5, 2020, 11:52

Thanks @ribose-jeffreylau !

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ribose-jeffreylau on Mar 5, 2020, 12:00

changed the description

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ronaldtse on Mar 5, 2020, 14:49

@ribose-jeffreylau the issue in https://github.com/relaton/relaton-cli/issues/73 is different -- it was due to mis-specification of versions in the `Gemfile`. Which container are you getting this error with?

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ronaldtse on Mar 5, 2020, 15:12

I can now reproduce this. This is valid.

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ronaldtse on Mar 5, 2020, 23:25

This is now fixed with the latest `metanorma-cli` release. I removed the `relaton-cli` line from the `Gemfile` in 573ed2b.

[2020-06-15 10:11] calconnect-ci commented on #70
In GitLab by @ronaldtse on Mar 5, 2020, 23:26

closed

[2020-06-15 10:12] #70 closed, assigned to nobody

[2020-06-15 10:12] calconnect-ci opened #71 "Add English to Roman Phonetic Alphabet"
In GitLab by @ronaldtse on Mar 5, 2020, 15:28

https://www.researchgate.net/publication/318445945_Roman_Phonetic_Alphabet_for_English

Latn -> Latn

[2020-06-15 10:12] calconnect-ci opened #72 "Incorporate comments from DIS ballot"
In GitLab by @ribose-jeffreylau on Apr 14, 2020, 11:37

* [CCD_24229.docx](/uploads/c63442af64a529e7c78daf96c404b711/CCD_24229.docx)
* [DE_comments_2020_03_30_on_ISO_CD_24229.doc](/uploads/28524c2102b62d1c8bc60860de56ab95/DE_comments_2020_03_30_on_ISO_CD_24229.doc)
* [ISOCD_24229_Finnish_Comments_.doc](/uploads/3844657df3d8e5f5a71b77aecfcd51aa/ISOCD_24229_Finnish_Comments_.doc)
* [CD24229_JP_comme

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on Apr 14, 2020, 11:38

changed the description

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 11, 2020, 14:54

mentioned in commit 0dab44a997eef73b4c74401d6b25d5f3f6f47bed

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 11, 2020, 14:54

mentioned in commit 76bf72ba5ab690eaa14d245e5e3d18582590f2eb

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 11, 2020, 14:54

mentioned in commit 62de24f1bbf3cd83903a2a6fad187a9f79f33041

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 11, 2020, 14:54

mentioned in commit 96bbaab6216cfbdd231fc379be79566fed16dbd2

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 11, 2020, 18:55

mentioned in commit 3acd34e40a8213e6a1a6ec9134617031748bf4d3

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 12, 2020, 14:15

mentioned in commit 1ff6cdc5e1ee01a6e6e00e85af896a6e4c95bde8

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 12, 2020, 16:43

mentioned in commit 8038716783a18239725f226453ab208357f3bd6a

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit 210919f15384997f929489bc628414a207d6f5ad

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit b4659d9af0f077188b20ff8c36374e933dbeb06e

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit b64f4f14aff761b4105d803327ce7580082542e2

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit 5bb7ceb8037d2c18b9a0f225a2695ec92fae8228

[2020-06-15 10:12] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit 3ca6fb29bc7e26e8f87f77c6b43d05bc70678d5c

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:46

mentioned in commit 995fa6403c936a73630777c3ee403b6cbc1b8b5b

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:44

marked this issue as related to #78

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:47

mentioned in commit 79b4a63088f473e6ebeaa021d6bf98d8d8ca7348

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:06

mentioned in commit 7a2a2d2399e3289e6be6cfb3619b5dd2c81315ac

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:09

mentioned in commit f2a359698fe99a44839d232b221f4cb4ae8ca599

[2020-06-15 10:13] calconnect-ci commented on #72
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:16

mentioned in commit 486158c6d5ef9d780953aecd687b45c66261c11b

[2020-06-15 10:13] calconnect-ci opened #73 "`make` does not rebuild when YAML files are changed"
In GitLab by @ribose-jeffreylau on May 11, 2020, 13:43

When there are changes in `codes.yaml` and `authority-codes.yaml`, `make` does not rebuild the document.

[2020-06-15 10:13] calconnect-ci commented on #73
In GitLab by @ribose-jeffreylau on May 11, 2020, 13:44

changed the description

[2020-06-15 10:13] calconnect-ci commented on #73
In GitLab by @ribose-jeffreylau on May 11, 2020, 13:54

closed via commit f9e5b3793c2a1f6441da8ace03ea8481b03a5b4c

[2020-06-15 10:13] calconnect-ci commented on #73
In GitLab by @ribose-jeffreylau on May 11, 2020, 14:54

mentioned in commit 5264a7a6a23804dd991dd4a0e50931d5c271d32f

[2020-06-15 10:13] #73 closed, assigned to ribose-jeffreylau

[2020-06-15 10:13] calconnect-ci opened #74 "`yaml2text` does not convert template to Asciidoc elements"
In GitLab by @ribose-jeffreylau on May 11, 2020, 17:27

## Problem description

`yaml2text` block leaves the template as is.

See the following screenshot:

![Screenshot_2020-05-11_at_5.21.50_PM](/uploads/12dcc5d8c4dc564d71f65c506cc7ad96/Screenshot_2020-05-11_at_5.21.50_PM.png)

## Expected result

The template should be rendered as AsciiDoc elements contained within.

[2020-06-15 10:13] calconnect-ci commented on #74
In GitLab by @ribose-jeffreylau on May 11, 2020, 18:58

Sort of fixed by 2d85b924704ddd6b49f110ed247888acaff63bed.

Ruby version needs to be pinned below 2.7 or else there would be an error somewhere in CSV.

[2020-06-15 10:13] calconnect-ci commented on #74
In GitLab by @ribose-jeffreylau on May 11, 2020, 18:58

closed

[2020-06-15 10:13] calconnect-ci commented on #74
In GitLab by @ribose-jeffreylau on May 12, 2020, 16:43

mentioned in commit 9afdf4cd35000ee38df6d2fea19f2ffa6551fee3

[2020-06-15 10:13] #74 closed, assigned to nobody

[2020-06-15 10:13] calconnect-ci opened #75 "Build fails with Ruby 2.7"
In GitLab by @ribose-jeffreylau on May 11, 2020, 19:01

## versions

Ruby 2.7.1

## trace

<details>

<summary>click to expand</summary>

[code]

</details>

## related

#73

[2020-06-15 10:14] calconnect-ci opened #76 "Consider recent updates to the BGN/PCGN systems (Arabic)"
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:59

_comments from Trent Palmer_

[2020-06-15 10:14] calconnect-ci opened #77 "Consider recent updates to the BGN/PCGN systems (Persian)"
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:59

_comments from Trent Palmer_

[2020-06-15 10:14] calconnect-ci opened #78 "Consider recent updates to the BGN/PCGN systems (Hebrew)"
In GitLab by @ribose-jeffreylau on May 13, 2020, 17:59

_comments from Trent Palmer_

[2020-06-15 10:14] calconnect-ci opened #79 "Add a status identifier for script converson systems"
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:35

Add a status identifier for systems that could be either preferred or deprecated, with a date, similar to management of ISO terms.

It would involve additional attributes of the `ScriptConversionSystem` class.

This is in response to collated comments DE-031 (reconsideration of deletion of script conversion system).

Related to #71

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:44

changed title from **Adda status identifier for script converson systems** to **Add{+ +}a status identifier for script converson systems**

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:44

changed the description

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:44

marked this issue as related to #71

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 18:47

mentioned in commit 79b4a63088f473e6ebeaa021d6bf98d8d8ca7348

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:06

mentioned in commit 7a2a2d2399e3289e6be6cfb3619b5dd2c81315ac

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:08

Something like the following has been used to insert the extra column into the `DATA` section of the csv file:

[code]

The STDOUT is then copy-pasta'd into `codes.csv` by hand.

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:08

closed

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:09

mentioned in commit f2a359698fe99a44839d232b221f4cb4ae8ca599

[2020-06-15 10:14] calconnect-ci commented on #79
In GitLab by @ribose-jeffreylau on May 13, 2020, 19:16

mentioned in commit 486158c6d5ef9d780953aecd687b45c66261c11b

[2020-06-15 10:14] #79 closed, assigned to nobody

[2020-06-15 10:14] calconnect-ci opened #80 "Appropriateness of the term "Canadian Aboriginal""
In GitLab by @ribose-jeffreylau on Jun 4, 2020, 11:07

Annie Wolfe from BAC/LAC raised an issue regarding the descriptions "_Canadian Indigenous_" and "_Canadian Aboriginal_", which denote colonial ownership of Indigenous peoples.

A suggestion is to use "_Indigenous peoples in Canada..._" or "_Aboriginal Peoples in Canada..._", while at the same time refrain from using "_... of Canada_" as that a

[2020-06-15 10:15] calconnect-ci commented on #80
In GitLab by @ribose-jeffreylau on Jun 4, 2020, 11:16

_Paraphrased reply from me + further suggestions from Annie Wolfe:_

Regarding the description "_Canadian Aboriginal_", we have been following the code list in the ISO 15924 (https://unicode.org/iso15924/iso15924-codes.html) which uses "_Unified Canadian Aboriginal Syllabics_" as the English name for the code `cans`.

There is uncertainty init

[2020-06-15 10:15] calconnect-ci commented on #80
In GitLab by @ribose-jeffreylau on Jun 4, 2020, 11:16

closed

[2020-06-15 10:15] #80 closed, assigned to nobody

[2020-06-15 10:15] calconnect-ci opened #81 "Verify puppeteer fix - [closed]"
In GitLab by @CAMOBAP795 on Oct 28, 2019, 06:06

_Merges bugfix/verify-puppeteer-fix -> master_

 - verification for https://github.com/metanorma/metanorma-docker/issues/42

[2020-06-15 10:15] calconnect-ci commented on #81
In GitLab by @ronaldtse on Oct 28, 2019, 06:51

@CAMOBAP795795 the fix didn't work?

[code]

[2020-06-15 10:15] #81 closed, assigned to nobody

[2020-06-15 10:15] calconnect-ci opened #82 "Install plantuml - [merged]"
In GitLab by @CAMOBAP795 on Nov 4, 2019, 15:06

_Merges bugfix/verify-puppeteer-fix -> master_

[2020-06-15 10:15] calconnect-ci opened #83 "Replace custom code with [yaml2text] - [merged]"
In GitLab by @ronaldtse on Apr 26, 2020, 16:11

_Merges yaml2text -> master_

[2020-06-15 10:15] calconnect-ci commented on #83
In GitLab by @ronaldtse on Apr 26, 2020, 16:12

@w00lf can you help fix this? Thanks.

[2020-06-15 10:15] calconnect-ci commented on #83
In GitLab by @ronaldtse on Apr 26, 2020, 16:12

added 1 commit

<ul><li>9e9940f7 - Remove Gemfile</li></ul>

[Compare with previous version](/calconnect/tc-localization/csd-transcription-systems/-/merge_requests/28/diffs?diff_id=87461003&start_sha=223ffe081d6d54e809255c26294f295b101d29b7)

[2020-06-15 10:15] calconnect-ci commented on #83
In GitLab by @w00lf on May 2, 2020, 20:13

added 1 commit

<ul><li>849b78b9 - Fix a2-authority-codes.adoc, a3-codes.adoc yaml file path and erorr in adoc</li></ul>

[Compare with previous version](/calconnect/tc-localization/csd-transcription-systems/-/merge_requests/28/diffs?diff_id=88527098&start_sha=9e9940f73845a3280252776afa3919797cc4cca3)

[2020-06-15 10:15] calconnect-ci commented on #83
In GitLab by @w00lf on May 2, 2020, 20:18

yaml file lookup is working as expected now, it takes files relative to input adoc, there was an error in a3-codes.adoc, fixed it. @ronaldtse, please review

[2020-06-15 10:16] calconnect-ci commented on #83
In GitLab by @ronaldtse on May 2, 2020, 20:32

added 1 commit

<ul><li>b916d081 - Clean up gems</li></ul>

[Compare with previous version](/calconnect/tc-localization/csd-transcription-systems/-/merge_requests/28/diffs?diff_id=88527772&start_sha=849b78b9be188d501a00724cc802ad877c20dc1d)

[2020-06-15 10:16] calconnect-ci commented on #83
In GitLab by @ronaldtse on May 2, 2020, 20:33

enabled an automatic merge when the pipeline for b916d08199bf3860618d704989cec8308095b0cf succeeds

[2020-06-15 10:16] calconnect-ci commented on #83
In GitLab by @ronaldtse on May 2, 2020, 20:36

mentioned in commit 0db5ada1cce339f21cc30bca784e56320756b34d

[2020-06-15 10:16] calconnect-ci commented on #83
In GitLab by @ronaldtse on May 2, 2020, 20:36

merged

[2020-06-15 10:16] #83 closed, assigned to nobody

[2021-05-18 04:05] ribose-jeffreylau commented on #75
It is building again.  Closing.

[2021-05-18 04:05] #75 closed, assigned to nobody

[2021-06-01 07:00] eroux opened #84 "EWTS for Tibt -> Latn"
Hi all, I've been invited to join Calconnect as part of my work on calendars, but I just stumbled upon this repository and wanted to suggest a few transcription systems that I thought would be useful to standardize. The most common system for Tibetan -> Latin transcription is a variant of the Wylie system called EWTS (Extended Wylie Transliteration Scheme), it is described in http://www.thlib.org/

[2021-06-02 06:23] ribose-jeffreylau commented on #84
Thanks @eroux !  We're in the process of separating the actual list from the standard itself.  This means it won't be in the standard's text, but will be added to a separate registry (according to the process as defined/will be defined in the standard).  Until then, we'll keep this issue open so we don't forget.

[2021-06-02 06:27] ribose-jeffreylau opened #85 "Occasional timeouts when processing relaton"
# description

Build would *sometimes* fail due to some timeout issues.

# details

See: https://github.com/CalConnect/csd-transcription-systems/runs/2725177196?check_suite_focus=true#step:8:152

[code]

[2021-06-02 06:30] eroux commented on #84
excellent, thanks!

[2021-06-02 07:15] ronaldtse commented on #85
@ribose-jeffreylau there is an issue with the GB standards site where it doesn't always connect. But in any case it shouldn't crash. We may have to cache these entries later. Posted to relaton/relaton-gb#37.

[2021-06-02 09:06] ribose-jeffreylau commented on #85
@ronaldtse I see, thanks!

[2021-06-02 10:10] ronaldtse commented on #84
While the separation will happen in the document, @eroux could you open the tickets with details about those systems? I'm sure we can incorporate those without affecting the document. Thanks!

[2021-06-10 09:57] ronaldtse commented on #84
@eroux I had a look at the list -- looks like the authority is the "The Tibetan and Himalayan Library". We can certainly add the authority and the system. Does THLib have other transliteration systems?

[2021-07-07 10:13] ribose-jeffreylau commented on #85
Seems issue is not happening.  Closing.

[2021-07-07 10:13] #85 closed, assigned to nobody

[2021-07-07 10:15] ribose-jeffreylau commented on #82
We're using [lutaml](https://github.com/lutaml/lutaml-uml) instead, so this issue is obsolete.  Closing.

[2021-07-07 10:15] #82 closed, assigned to nobody

[2021-07-29 04:17] ribose-jeffreylau opened #86 "Some relaton entries have unexpected titles"
[code]

[code]

Is there any way around this?  (apart from patching the relaton cache manually?)

Source:

* [ISO 3166-1](https://www.iso.org/standard/72482.html)
* [ISO 639-1](https://www.iso.org/standard/22109.html)

[2021-07-29 04:20] ronaldtse commented on #86
The reason why ISO 3166 has that title is that the last published "ISO 3166" is this one:
https://www.iso.org/standard/22748.html

<img width="1062" alt="Screenshot 2021-07-29 at 12 19 30 PM" src="https://user-images.githubusercontent.com/11865/127430917-fbcd4e4e-56fe-48e9-9e16-d5882b227e84.png">

The case with 639 is probably similar. In this case let's cite them individually.

This topic is a wo

[2021-07-29 04:25] ribose-jeffreylau commented on #86
@ronaldtse Thanks. I'll post it in metanorma.

P.S. Found another mismatch with expectations:

[code]

[code]

[2021-07-29 04:27] ronaldtse commented on #86
That's because the last "ISO 8601" (not ISO 8601-1) had that title. This is a discussion topic in itself -- if I cite "ISO 8601", what is actually cited? ISO 690 does not provide that answer. Maybe time to ping Juha (this is clearly a topic for a 690 support group!).

[2021-08-03 06:39] ribose-jeffreylau commented on #86
Fixed by c9d4a3abca14ee9d3e0037e10b0c6af3027281da which is a workaround.  Now it seems only ISO 639 needs the patch.

[2021-08-03 06:39] #86 closed, assigned to nobody

[2021-08-03 06:46] ribose-jeffreylau opened #87 "CI build failure"
https://github.com/CalConnect/csd-transcription-systems/runs/3228016066#step:5:252

[code]

[2021-08-03 08:42] ronaldtse commented on #87
We can cleanup the Gemfile so that only metanorma-cli and structured_csv remains. We also don't need the Gemfile.lock.

[2021-08-03 08:46] ronaldtse commented on #86
@ribose-jeffreylau instead of making a patch, can you file an issue at Relaton-ISO and propose a syntax so that we can cite it properly? Thanks.

[2021-08-03 08:58] ribose-jeffreylau commented on #87
@ronaldtse  Tried both but still same error.

[2021-09-09 14:14] ribose-jeffreylau opened #88 "Fix typo"
_reported by Trent Palmer_

[2021-09-09 14:16] ribose-jeffreylau opened #89 "Clarify code status "deprecation""
Maybe add an example, e.g. rename of code.

_reported by Becki Maddock_

[2021-09-10 04:05] ribose-jeffreylau opened #90 "Add section / data model elements on aliases (for default languages)"
_reported by Jan Kučera_

[2021-09-10 04:15] ribose-jeffreylau opened #91 "Clarify rules for "default" languages"
It should be noted that only those systems with an active system authority are eligible to have a "default" language, so as to minimize burden on the RA / AG.

[2021-09-10 07:09] ribose-jeffreylau opened #92 "Replace instances of "written languages conversion system" to "written language conversion system""
including the document title.

_reported by ASI_

[2021-09-20 05:01] #92 closed, assigned to ribose-jeffreylau

[2021-09-20 06:14] #88 closed, assigned to ribose-jeffreylau

[2021-09-20 06:14] #89 closed, assigned to ribose-jeffreylau

[2021-09-20 08:05] ribose-jeffreylau opened #93 "Make unicode ranges for allowed characters explicit"
_as reported by Jan Kučera_

[2021-09-21 06:28] #93 closed, assigned to ribose-jeffreylau

[2021-09-24 04:15] ribose-jeffreylau commented on #87
It magically fixed itself since 7b5f85aae2ae376987f9073549f0a64786cb88d2.  Closing.

[2021-09-24 04:15] #87 closed, assigned to nobody

[2021-10-07 08:51] ribose-jeffreylau opened #94 "mdash glyphs rendering issues in PDF"
# Broken

## screenshot

<img width="822" alt="Screenshot 2021-10-07 at 4 49 50 PM" src="https://user-images.githubusercontent.com/2649467/136351745-2d99d557-c172-42c2-9e17-3b7d45ae01be.png">

## versions

[code]

# Expected

## screenshot

<img width="808" alt="Screenshot 2021-10-07 at 4 48 54 PM" src="https://user-images.githubusercontent.com/2649467/136351596-d06d1977-3378-4870-8a18-699da26eac7

[2021-10-07 08:52] ronaldtse commented on #94
@ribose-jeffreylau just confirming this is from PDF, right?

[2021-10-07 08:52] ribose-jeffreylau commented on #94
Forgot to mention, yes, PDF.

[2021-10-07 08:53] ronaldtse commented on #94
I believe this is a font issue: where the non-breaking space is not present in the font used. Ping @intelligent2013.

[2021-10-07 09:11] ribose-jeffreylau commented on #94
Update: it definitely does not seem like an issue with metanorma versions.  I tested building locally with the latest gems and got the "correct" render.

[2021-10-07 09:55] Intelligent2013 commented on #94
I've generated PDF locally for iso-24229.presentation.xml, and everything is correct.
The visual difference between PDF from gh-pages and locally rendered in `#` around em-dash glyph in Normative References and Bibliography:
![image](https://user-images.githubusercontent.com/5559926/136356857-50cc5333-5814-4132-9425-4fd7bf94e73a.png)

xml:
[code]
The character `&#8201;` is `U+2009` - Thin Space.

[2021-10-07 10:13] ronaldtse commented on #94
I wonder if we can find an open Cambria that contains a thin space for Fontist -- U+2009 seems very common.

[2021-10-07 10:41] Intelligent2013 commented on #94
5.97 2009 from Windows 7 (C:\Windows\Fonts\cambria.ttc):
![image](https://user-images.githubusercontent.com/5559926/136368972-7dd04c52-6fd3-46ed-8e33-b0caa3803735.png)
Please note, that there isn't `X` mark across glyph box in this version.

[2021-10-12 05:31] ribose-jeffreylau opened #95 "Rendered Word documents crashes in Word for Mac"
Related to: https://github.com/metanorma/metanorma-iso/issues/533

[2021-10-12 05:34] #95 closed, assigned to ribose-jeffreylau

[2021-10-12 05:42] ribose-jeffreylau commented on #91
It has been agreed by meeting participants that such a feature would not be included in the current draft.

[2021-10-12 05:42] #91 closed, assigned to ribose-jeffreylau

[2021-10-12 05:43] ribose-jeffreylau commented on #90
It has been agreed by meeting participants that such a feature would not be included in the current draft.

[2021-10-12 05:43] #90 closed, assigned to ribose-jeffreylau

[2022-04-27 17:08] ronaldtse opened #96 "Change default branch to `main`"

[2022-04-27 17:09] ronaldtse commented on #96
Done.

[2022-04-27 17:09] #96 closed, assigned to ronaldtse

[2022-04-27 18:20] ronaldtse opened #97 "Address ISO/DIS 24229 comments"

[2022-04-27 19:50] ronaldtse commented on #94
We have since updated Cambria and this is no longer an issue.

[2022-04-27 19:50] #94 closed, assigned to nobody

[2022-06-21 11:00] ribose-jeffreylau commented on #97
Done.

[2022-06-21 11:00] #97 closed, assigned to ribose-jeffreylau

[2022-06-21 11:01] ronaldtse commented on #72
Closed as DIS comments all addressed by @ribose-jeffreylau . Thanks!

[2022-06-21 11:01] #72 closed, assigned to ribose-jeffreylau